//função para automatizar 
@mixin largAlt ($width, $height) {
	width: $width;
	height: $height;
}

body {
	background: black;
	color: white;
}
#phone {
	@include largAlt(300px, 600px);
	display: flex;
	flex-direction: column;
	background: rgb(250,250,250);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 20px;
	overflow: hidden;	
}
#cameraArea {
	@include largAlt(100%,12%);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		width: auto;
		display: flex;
		flex-direction: column;
		align-items: center;			
		position: relative;

		&:before {
			content: '';
			@include largAlt (6px, 6px);
			border-radius: 50%;
			position: absolute;
			background: black;
			left: -15px;
			bottom: 0;
		}
	}
	div span:nth-child(1) {
		@include largAlt (10px,10px);
		border-radius: 50%;
		background: black;
		display: block;
	}
	div span:nth-child(2) {
		@include largAlt (40px,5px);
		border-radius: 25%;
		margin-top: 10px;
		background: black;
	}
}
#screen {
	@include largAlt (95%, 80%);
	background: #212121;
	display: block;
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
	transition: background .2s;
	overflow: hidden;
}
#bg-image {
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(4px) brightness(80%);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -1;
}
#screenContent {
	font-family: sans-serif;
	padding: 7px;
	position: relative;
	display: block;
	height: calc(100% - 14px);
	z-index: 1;
}
#navTop {
	display: flex;
	position: relative;
	height: 15px;
	width: 100%;

	div {
		width: 30px;
		display: block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}

	.BRA , .batteryLevel {
		font-size: 11px;
		margin: 0 7px;
		position: absolute;
		font-family: sans-serif;
	}
	.fa-signal , .fa-wifi , .fa-lock , .fa-battery-full {
		color: white;
		font-size: 11px;
		position: absolute;
	}
	.fa-signal {
		left: 0;
	}
	.BRA {
		left: 12px;
	}
	.fa-wifi {
		left: 46px;
	}
	.fa-lock {
		left: 50%;
		transform: translateX(-50%);
	}
	.batteryLevel {
		right: 10px;
	}
	.fa-battery-full {
		right: 0;
	}
}

/*BRA e 100%*/
		
#unlockScreen {
	width: 100%;
	height: auto;
	margin-top: 1.5em;
	display: block;
	position: relative;
	text-align: center;

	p {
		margin: 0 0 1em 0;
	}
}
//tela apos o desbloqueio
.finalScreen {
	@include largAlt(100%, 100%);
	background-image: url('images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	overflow-x: auto;
	z-index: -1;
	
	&.unlocked {
		display: block;
	}
}

.checking {
	@include largAlt(80%, 10px);
	display: flex;
	margin: 0 auto;
	justify-content: center;

	label {
		width: 6px;
		height: 6px;
		margin: 0 5%;
		border-radius: 50%;
		border: 2px solid white;
		transition: background .3s;

		&.filled {
			background: white;
		}
	}
}
.digits {
	width: 80%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 12%;
	margin-left: auto;
	margin-right: auto;

	span {
		@include largAlt(27%, 60px);
		background: rgba(200,200,200,0.5);
		border-radius: 50%;
		margin: 6px;
		line-height: 60px;
		font-size: 1.7em;
		transition: background .1s;

		&:active {
			background: lightgray;
		}
	}
}					

#btnArea {
	@include largAlt(100%, 12%);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		@include largAlt(40px, 40px);
		border-radius: 50%;
		background: #9E9E9E;
		display: flex;
		padding: 5px;
	}
	#fisicBtn {
		width: 100%;
		border-radius: 50%;
		border: none;
		background: white;
		outline: none;

		&:active {
			background: rgb(240,240,240);
		}
	}
}
	
#settings {
	width: auto;
	position: absolute;
	left: 0;
	display: flex;
	flex-direction: column;
}

		
		
		
		

		
		
		
		
		
		
	
		
		
		
		
